body{
	background: #FFFFFF;
}
header{
	background: #FFFFFF;
}

footer{
	height: 10%;
	display: block;
}

img{
	max-width: 50%;
	height: auto;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
}
p{
	margin-top: 0px;
}

em{
	font-style: oblique;
    font-weight: bold;
}

/*clase para el contenedor central donde se encuentra el aside y la secciópn principal*/
.contenedor{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	 -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
	flex-direction: row;
	height:  70vh;

}

/*Esto es la sección del logo de html*/
.asideLogo{
	/*
	display: inline-block;
	*/
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
	/*vertical-align: top;*/
	max-width: 34%;
	width: 34%;
	max-height: 100%;
	height: 100%;
	text-align:center;
	min-width: 200px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;  
    overflow: hidden;
    

}
/*Esto es para el principal sección donde va todo lo que hay que cambiar*/
.principalTamano{
	width: 64%;
}

.principal{
	vertical-align: top;	
	max-width: 100%;
	min-height: 200px;
	
	-webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;  
    overflow: hidden;

}


.referencias{
	text-decoration: underline;
	font-style: italic;
	font-size: 10px;
	color: #0D08DB;
}


.listas li{
	list-style-type: square;
}

/*clase para el logo de la Universidad*/
#unadLogo{
	max-width: 100%;	
}

/*clase para el logo de HTML5*/
#htmlLogo{
	height: 70%;
	max-width: 100%;
	padding: 0px;	
	vertical-align: top: ;0px

}



/*clase para el titulo Diseños de Sitios WEB*/
.tHeader{
	color: #f0b429;
	display: inline-block;
	width: 60.0%;
	vertical-align: top;
	text-align:-webkit-center;
}
/*clase para el titulo HTML5*/
.tituloHtml{	
	text-align: center;
	font-style: oblique;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
	margin: 0 auto;
	min-height: 40px;
    padding-top:10px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

#conta{
	text-align: center;
	min-height: 25%;
	text-decoration: underline;
	font-weight: bold;

	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

#conta p{
	margin: 0 auto;
	padding: 0px;
}

#reloj{
	width: 60%;
	min-width: 60%;

}

.subPrincipal{
	height: 49%;
	max-height: 49%;
	max-width: 100%;
	display: flex;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction:column;
    -webkit-box-direction: normal; 
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;	
	    -ms-flex-positive: 1;	
	        flex-grow: 1;	
	-webkit-flex-grow: 1; /* Safari 6.1+ */
}

.tSubPrincipal{
	background: #FFFFFF;
	border: 1px solid #000000;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	font-size: 14px;
	font-weight: bold;
	padding: 0.25em;
	text-decoration: underline;
	width: 98.5%;
	max-height: 10%
}

.pSubPrincipal{
	background: #FFFFFF;
	border: 1px solid #000000;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	font-size: 14px;
	padding: 0.125em;
	width: 98.5%;
	height: 90%;
	padding: 0.25em;
	max-height: 90%;
	overflow:  auto;
	
}

.contenedorLecturas{
	height: 100%;
	display: flex;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	-webkit-box-direction: normal; 
	-webkit-box-orient: vertical;

}

.subPrincipalLecturas{
	height: 40%;
	max-height: 49%
	max-width: 100%;
	margin-top: 1%;
    margin-left: 2.5%;
   
}


.tSubPrincipalLecturas{
	background: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 6px;
	font-size: 14px;
	font-weight: bold;
	padding: 0.25em;
	text-align: center;
	width: 98.5%;
	max-height: 10%;
}
.pSubPrincipalLecturas{
	background: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 6px;
	font-size: 14px;
	padding: 0.125em;
	width: 47%;
	height: 170%;
	padding: 0.25em;
	max-height: 200%;
	overflow:  auto;
	
}

.pMarginLDos{
	margin-top: -28%;
}

.pMarginLTres{
	margin-top: -56%;
}



/*Clase para controlador las secciones de los sub items de la pestaña Lecturas*/
.oculto {
	display: none;
	}

.imgEtiquetas{
	position: absolute;
  	top:  200px; 
  	left: 600px;
	max-height: 200%;
}

#htmlImgene{
	max-width: 100%;
	left : 0px;
	padding: 0px;		
}


/*Clase para todos los contenedores principales 
  que controla las margenes*/
.margenes{
	margin: 0 auto;
	max-width: 1000px;
	-webkit-border-radius: 0.5em;
	        border-radius: 0.5em;
	margin-top: 3px;
	position: relative;
}
/*Clase que controla la letra principal de los contenedore*/
.principalLetra{	
	color: #f0b429;
}

/*Clase que controla el fondo principal de los contenedore*/
.principalFondo{
	background: #005883;
}


/*Esto es para dar el estilo de los menus 
  para las nuevas pantallas se debería cambiar el llamado
  del estilo menuSelecionado en el html */
#menuH{
	width: 100%;
	background: #FFFFFF; 
	max-width: 1000px;
	margin-top: 3px;
}

/*Oculta el Label de los menus util para el responsive
*/
#menuH label{
	display: none;
	width: 30px;
	height: 30px;	
	border-right: 1px solid #FFFFFF	
}

/*clic sobre la etiqueta del menu cuando esta el menu
  pequeño*/
#menuH label:hover{
	cursor: pointer;
	background: #005883; 
}

/*Con esto se oculta el botón que controla el check 
   utilizado para el responsive de los menus
 */
#btn_menu{
	display: none;
}

/*Se aplica para el menu que esta seleccionado*/
.menuSelecionado{
	background: #005883 !important;
	color: #FFFFFF !important;
	font-weight: bold !important;
}

.menu ul{
	margin: 0;
	list-style: none;
	padding: 0;
	/*con esto pone los il en linea*/
	display: flex;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-box-shadow: 0px 5px 2px 0px #ccc;
            box-shadow: 0px 5px 2px 0px #ccc;
}



.menu li{
	/*permite distribuir todos los menus dentro del nav*/	
	-webkit-box-flex: 1;	
	    -ms-flex-positive: 1;	
	        flex-grow: 1;	
	-webkit-flex-grow: 1; /* Safari 6.1+ */
	text-align: center;
}


/*Estilo de los menus redondeados*/
.menu li a {
	display: block;
	padding: 5px 20px;
	text-decoration: none; 
	-webkit-border-radius: 0.5em 0.5em 0em 0em; 
	        border-radius: 0.5em 0.5em 0em 0em; 
	border: 1px solid #005883;   
	background: #FFFFFF;
}


/*Al pasar el mouse por envcima del menu*/
.menu li a:hover{
	background: #005883;
}

#subMenuL{
	width: 100%;
	max-width: 1000px;
	margin-top: 3px;
}

.subMenu {
/*	width: 400px;
    height: 400px;*/
  /*  border: 1px solid #c3c3c3;
    display: -webkit-flex; /* Safari */
  /*  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
    display: flex;
   flex-direction: column;
}


.subMenu ul{
	margin: 0;
	list-style: none;
	padding: 0;
   
}
.subMenu li{
	 width: 950px;
    height: 30px;
    margin-left: 25px;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

.subMenu li a {
	display: block;
	padding: 5px 20px;
	text-decoration: none; 
	border-radius: 0.5em 0.5em 0em 0em; 
	border: 1px solid #005883;   
	background: #FFFFFF;
}

.subMenu li a:hover{
	background: #CFCFCF;
}

.letraSubItem{	
	color: 	#000000;
}

/*esto es para realizar los menus de forma responsive*/

/*@media se comporta como un if*/
@media(max-width: 700px){
	.menu li a{
		padding: 5px 5px;
		min-width: 30px;
	}
	.principalTamano{
		width: 95%;
		max-width: 95%
	}
	.contenedor{
		flex-direction: column;
        -ms-flex-direction: column;
        -webkit-flex-direction:column;
        -webkit-box-direction: normal; 
        -webkit-box-orient: vertical;
        height: 70%
	}

}

/*@media se comporta como un if*/
@media(max-width: 510px){
	#menuH label{
		display: block;		
	}
	.menu{
		position: absolute;
		background: #FFFFFF;
		width: 25%;
		margin-left: -80%; 
		-webkit-transition: all 0.5s; 
		transition: all 0.5s;
		}
	.menu ul{		
        flex-direction: column;
        -ms-flex-direction: column;
        -webkit-flex-direction:column;
        -webkit-box-direction: normal; 
        -webkit-box-orient: vertical;
	}
	.menu li{
		border-top: 1px solid #FFFFFF;
		text-align: left;
		padding-left: 1px;
	}
	.menu li a{
		-webkit-border-radius: 0em 0em 0em 0em;
		        border-radius: 0em 0em 0em 0em; 
		padding: 3px 5px;
		min-width: 50px;
	}
	/*busca la clase menu y la selecciona*/
	#btn_menu:checked ~ .menu{
		margin: 0;
		width: 100px;
	}


}